{% extends 'issuerAccounts/baseissuer.html' %}
{% load static %}

{% block content %}

<div class="box align-right" style = "background-color: rgb(247, 239, 246); color:black">
    <div class="box-header">
      <h4 class="box-title"><b>Table For Contract Paying Record:</b></h4>
      <a class="btn btn-primary pull-right" href="{% url 'AddContractPayment_url' %}">
        Add Payment:
      </a>
    </div>
   
    <!-- /.box-header -->
    <div class="box-body">
      <table id="example1" class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>CONTRACT</th>
          <th>ISSUER</th>
          <th>START_DATE</th>
          <th>END_DATE</th>
          <th>APPROVED</th>
          <!-- <th>ACTION</th> -->
        </tr>
        </thead>
        <tbody>
        {% for dat in data %}
        <tr>
          <td>{{dat.contract}}</td>
          <td>{{dat.user}}</td>
          <td>{{dat.start_date}}</td>
          <td> {{dat.end_date}}</td>

          {% if dat.is_approved == 1 %}
            <td style="color:green;"><i class="fa fa-check "></i></td>
          {% else %}
            <td style="color:rgb(218, 14, 14);"><i class="fa fa-lock"></i></td>
          {% endif %}
          <!-- <td>
            <a class="fa fa-edit btn-sm btn-primary" title="edit" href="#"></a>
          </td> -->
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- /.box-body -->
  </div>
  

{% endblock content %}